<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.mapper.FishMapper">
	<insert id="insert">
	    INSERT INTO TB_PPALDAK_FISHS
		VALUES(#{id}, #{owner}, #{name}, #{maxPower}, #{avgPower}, #{date}, #{time}, #{timeing}, #{GPSLat}, #{GPSLot})
	</insert>
	
	<delete id="delete" parameterType="map">
		DELETE FROM TB_PPALDAK_FISHS
		WHERE FSH_ID = #{id}
	</delete>
	
	<select id="get" resultType="com.cglee079.model.FishVo" parameterType="map">
		SELECT * 
        FROM TB_PPALDAK_FISHS
        WHERE FSH_ID = #{id}
	</select>
	
	<select id="mylist" resultType="com.cglee079.model.FishVo" parameterType="map">
		<![CDATA[
			SELECT *
			FROM TB_PPALDAK_FISHS
			WHERE FSH_OWNER = #{owner}
        ]]>
		<if test="search != null">
			AND UPPER(FSH_NAME) LIKE "%"|| UPPER(#{search, jdbcType=VARCHAR}) ||"%"
		</if>
		<![CDATA[
			ORDER BY FSH_NAME ASC
		]]>
	</select>
	
	
	<select id="list" resultType="com.cglee079.model.FishVo" parameterType="map">
		<![CDATA[
			SELECT *
			FROM TB_PPALDAK_FISHS
			WHERE 1 = 1
        ]]>
        <if test="stDate != null and endDate != null">
			AND FSH_DATE BETWEEN #{stDate} AND #{endDate} 
		</if>
        <if test="species != null">
			AND UPPER(FSH_SPECIES) LIKE "%"|| UPPER(#{species, jdbcType=VARCHAR}) ||"%"
		</if>
		<![CDATA[
			ORDER BY FSH_NAME ASC
		]]>
	</select>

</mapper>